* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

/*

    Icon Whatsapp

*/


.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

/*

    first panel from site

*/

.panel {
    background-image: url("./src/panel1.png");
    background-size: cover;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sectionPanel {
    display: flex;
    flex-direction: column;
}


.sectionPanel h1 {
    display: flex;
    justify-content: center;
    color: #fffafa;
    font-size: 4rem;
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
}

.sectionPanel h2 {
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 2.5rem;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}

/*

    Main

*/

.main {
    display: flex;
    flex-direction: column;
}

/*

    NavBar

*/

.header {
    display: flex;
    background-color: #d1d1d1;
    justify-content: space-around;
    position: sticky;
    align-items: center;
    padding: .2rem;
    top: 0;
}

.imgLogo {
    width: 10rem;
}

.navBar {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
}

.link {
    color: #808080;
    padding: 1.5rem;
    font-size: 1rem;
    margin: 0.5rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    display: flex;
    text-align: center;
    justify-content: center;
}

.link:hover {
    color: #f14242;
    border-bottom: solid #f14242 2px;
}

.link:active {
    opacity: 0.8;
}

.buttonMenu {
    display: none;
}

/*

    Section Brands

*/

.content {
    width: 100%;
}

.workedBrands {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.brands {
    display: flex;
    flex-flow: column wrap;
    width: 25rem;
    align-items: center;
    margin: 1.5rem 1rem;
    background-color: #d1d1d1;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 0px 8px 5px rgba(209, 209, 209, 1);
    box-shadow: 0px 0px 8px 5px rgba(209, 209, 209, 1);
}

.brandsImg {
    width: 100px;
    height: 100px;
}

.brands h1 {
    margin: 1rem 0;
}

.brands p {
    margin-bottom: 1rem;
}

.brands img {
    margin-top: 1rem;
}

/*

    Sessions Contacts

*/

.numberEmail {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    background-color: #f14242;
    text-align: center;
    padding: 5rem;
}

.textContact {
    font-size: 2rem;
    margin-bottom: 5rem;
    width: 100%;
    color: #FFFFFF;
}

.buttonsContact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 1rem;
    color: #FFFFFF;
    outline: 3px solid #FFFFFF;
    outline-offset: 0px;
    white-space: nowrap;
    background: none;
    transition: all 0.5s ease-in-out;
}

.buttonsContact button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    outline: 3px solid rgba(255, 255, 255, 0.18);
}

/*

    About Us

*/

.aboutUs {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    padding: 2rem;
}

.titleAboutUs {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.textAboutUs {
    font-size: 1rem;
}

/*

    Footer

*/

.FooterPage {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: #f14242;
}

.part1 h3,
a {
    font-size: 0.8rem;
    color: #000000;
}

.part1 h3 {
    margin-bottom: 0.3rem;
}

.part1 a h3 {
    text-decoration: underline;
}

.part2 {
    display: flex;
    flex-flow: row wrap;
    padding: 0 7rem;
    justify-content: space-evenly;
}

.part2 i {
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.part1 a:active,
.part2 a:hover {
    color: #FFFFFF;
    opacity: 0.7;
}

.part1 a:hover,
.part2 a:active {
    opacity: 0.4;
}

@media (max-width: 830px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7e7;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu .link {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #buttonMobile {
        display: flex;
        padding: .5rem 1rem;
        font: 1rem;
        border: none;
        background-color: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.5s;
        position: relative;

    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}